numpy
scipy
pandas
matplotlib
pytz
requests
boto3
scikit-image
scikit-learn
cuda-python==11.7
torch
torchvision>=0.13
pytorch-lightning
kornia
mlflow
jupyter
pylama
pytest
yapf
tqdm
ipympl
ipyleaflet
voila>=0.3
psycopg2
sqlalchemy
tables